//
body{
    background-color: orange;
}


h1 {
    color: white;
    text-shadow: 2px 2px black;
}

li{
    color: red;
}

.post{
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 40px;
}

p{
 background-color: white;
 padding: 1%;
 border: 2px solid black;
 border-radius: 1%;
}

label{
    text-decoration: underline;
    font-weight: bold;
    color: white;
}
